section{
    background-color: #ebeeef;
}

.three-point{
    bottom: 0.3rem;
    right: 1rem;
}

.uploadIcon{
    font-size: 1.5rem;
    color: orange;
    z-index: 1;
}

.blockUpload:hover .uploadHover{
    opacity: 1;
}

.uploadHover{
    opacity: 0;
    color: orange;
}

.deleteIcon{
    font-size: 1.5rem;
    color: red;
    z-index: 1;
}

.blockDelete:hover .deleteHover{
    opacity: 1;
}

.deleteHover{
    opacity: 0;
    color: red;
}

.blockIcon{
    cursor: pointer;
}